target/
Cargo.lock
**/*.rs.bk
*.wasm
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
examples/cpp/power/power.c
examples/cpp/split/split.cpp